form{
    margin-top: 80px;
    text-align: center;
    color: rgb(18, 17, 17);
}

form button{

    padding: 10px 10px;
    color: rgb(184, 17, 17);
    border-radius: 10px 10px;
    cursor: pointer;
    background-color: burlywood;
}

#toggleButton {
    padding: 10px 25px;
    font-size: 16px;
    background-color: #68f3e7;
    color: #1b1313;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #hiddenDiv {
    display: none; 
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
  }